node_modules/
dist/
target/
src-tauri/gen/schemas/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/build/
src-tauri/gen/android/app/build/
src-tauri/gen/android/app/src/main/jniLibs/
src-tauri/gen/android/local.properties
